@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");


table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
}
th, td {
    border-bottom: 1px solid #444444;
    padding: 5px;
    text-align: center;
    background-color: #C0E0F0;
}

th:nth-child(4), td:nth-child(4) {
    background-color: lightgray;
}
th:nth-child(5), td:nth-child(5) {
    background-color: lightgray;
}

/* th:nth-child(2n+1), td:nth-child(2n+1) {
    background-color: #C0E0F0;
}  */

.btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 7px 14px;
    border-radius: 10px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 300;
    transition: 0.25s;
    font-size: 80%;
}

.btn-indigo {
    background-color: aliceblue;
    color: #1e6b7b;
}

.btn-blue {
    background-color: #6aafe6;
    color: #3d5d8d;
}